@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header .navbar {
  background-color: rgba(255, 255, 255, 0);
}

body {
  z-index: 0;
  background-color: black !important;
  background: url("/images/background.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 1920px 1080px;
  background-position: 53% 0%;
  overflow-x: hidden !important;
}

hr {
  color: white !important;
  height: 2px !important;
}

@media only screen and (min-width: 1201px) {
  .mobile_nav {
    display: none !important;
  }

  .desktop_nav {
    display: block !important;
  }

  header .desktop_nav .navToggler {
    display: none;
  }
  header .desktop_nav .navbar-brand {
    margin-left: 10px;
    font-size: 1.35rem;
    font-weight: 300;
    letter-spacing: 5px;
  }
  header .desktop_nav .nav-item {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.35rem;
    font-weight: 300;
  }
  header .desktop_nav .nav-item a {
    letter-spacing: 5px;
  }
  header .desktop_nav .nav-item #lang {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }

  main .desktop_index {
    display: block;
  }
  main .mobile_index {
    display: none;
  }
  main .desktop_index {
    margin-top: 100px;
  }
  main .desktop_index #logo div:first-child {
    margin-bottom: 0px;
  }
  main .desktop_index #logo div:first-child img {
    max-width: 370px;
    max-height: 370px;
    width: auto;
    height: auto;
  }
  main .desktop_index #logo div:last-child h1 {
    color: white !important;
    font-size: 5rem;
    font-weight: 900;
  }
  main .desktop_index #logo div:last-child h1 span {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #B6F0A7;
    letter-spacing: 7px;
  }
  main .desktop_index #links button {
    height: 150px;
    border: solid white 1px;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    font-size: 2.8rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .desktop_footer {
    display: block !important;
    background-color: black;
    margin-top: 220px;
  }
  .desktop_footer section article:first-child i {
    color: white;
    font-size: 5rem;
  }
  .desktop_footer section article:first-child i span {
    position: relative;
    bottom: 13px;
    color: white;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 5px;
  }
  .desktop_footer section article:nth-child(2) button {
    border: solid white 1px;
    background-color: #131313;
    color: #B6F0A7;
    text-transform: uppercase;
    font-weight: 300;
    padding: 30px;
    font-size: 1.5rem;
  }
  .desktop_footer section article:last-child h2 {
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 5px;
  }
  .desktop_footer section article:last-child h3 {
    text-transform: uppercase;
    color: #afafaf;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .desktop_footer section article:last-child h4 {
    color: #B6F0A7;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .mobile_footer {
    display: none !important;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1401px) {
  main .desktop_index #logo div:first-child img {
    width: 350px;
    height: 350px;
  }
  main .desktop_index #logo div:last-child h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 576px) {
  .desktop_nav {
    display: none !important;
  }

  .navbar-brand {
    visibility: hidden;
  }

  .navToggler {
    border: none !important;
    text-align: center;
    color: white !important;
  }
  .navToggler i {
    position: relative;
    font-size: 50px;
    text-align: center;
    top: 0;
    transition: all ease 0.15s;
  }

  .navToggler:active {
    color: #84dd6d !important;
  }
  .navToggler:active i {
    top: 5px;
  }

  .navToggler:focus {
    outline-style: none !important;
    box-shadow: none !important;
  }

  .navbar-nav {
    margin-top: 20px;
  }
  .navbar-nav .nav-item {
    text-align: center;
    margin: 5px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.95);
    border: solid 2px white;
    border-radius: 30px;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 4px;
    transition: all 0.15s ease;
  }
  .navbar-nav .nav-item:active {
    transform: scale(0.9);
  }

  main {
    margin-top: 70px;
    margin-left: 25px;
    margin-right: 25px;
  }
  main .desktop_index {
    display: none;
  }
  main .mobile_index {
    display: block;
  }

  .mobile_index {
    text-align: center;
  }
  .mobile_index img {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 30%;
  }
  .mobile_index article {
    margin-top: 20px;
  }
  .mobile_index article h1 {
    color: white;
    font-weight: 500;
    font-size: 2.5rem;
  }
  .mobile_index article h1 span {
    font-size: 1.6rem;
    font-weight: 400;
    color: #B6F0A7;
  }
  .mobile_index article p {
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .mobile_index article p span {
    color: #B6F0A7;
    font-weight: 500;
  }
  .mobile_index article p:last-child {
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
  }
  .mobile_index .mobile_index_links {
    padding: 12px;
  }
  .mobile_index .mobile_index_links button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    border: solid 1px white;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: all 0.15s linear;
  }
  .mobile_index .mobile_index_links button:active {
    transform: scale(0.95);
  }

  .mobile_footer {
    margin-top: 40px;
    box-shadow: 0px 0px 10px 10px black;
    width: auto;
    height: auto;
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mobile_footer #div1 {
    flex: 1 1 49%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .mobile_footer #div1 i {
    font-size: 40px;
  }
  .mobile_footer #div1 i span {
    font-size: 25px;
  }
  .mobile_footer div:nth-child(2) {
    width: 1px;
    background: white;
  }
  .mobile_footer #div2 {
    flex: 1 1 49%;
    position: relative;
    top: 10px;
  }
  .mobile_footer #div2 span:first-child {
    font-size: 1.5rem;
  }
  .mobile_footer #div2 span:nth-child(3) {
    color: dimgray;
    font-size: 1rem;
  }
  .mobile_footer #div2 span:nth-child(5) {
    color: #B6F0A7;
    font-size: 0.9rem;
  }
  .mobile_footer button {
    background-color: #1d1d1d;
    color: rgba(182, 240, 167, 0.7);
    font-weight: 600;
    border: none;
    padding: 10px;
    margin-top: 20px;
    flex: 1 1 33%;
    transition: all 0.15s ease;
  }
  .mobile_footer button:active {
    background-color: #303030;
    color: #b6f0a7;
    transform: scale(0.9);
  }

  .mobile_about {
    text-align: center;
  }
  .mobile_about img {
    margin-top: 30px;
    width: 290px;
    border: white solid 2px;
    border-radius: 100%;
  }
  .mobile_about h1 {
    margin-top: 20px;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
  }
  .mobile_about article {
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1p;
  }
  .mobile_about i {
    font-size: 70px;
    color: white;
  }

  .mobile_contact {
    text-align: center;
    color: white;
  }
  .mobile_contact h1 {
    font-size: 3rem;
    margin-top: 100px;
  }
  .mobile_contact article {
    margin-top: 25px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }
  .mobile_contact article div {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .mobile_contact article div h3 {
    font-size: 1.8rem;
  }
  .mobile_contact article div p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
  }
}

/*# sourceMappingURL=style.css.map */
